footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    /* CODIGO FIJAR ABAJO */
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
}

a{
    text-decoration: none;
    color: white;
}

p{
    color: white;
}

#logoFooter{
    height: 80px;
}

#footerRedes {
    display: flex;
    gap: 1rem;
}

#footerRedes a {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

#footerRedes a:hover {
    background-color: #9D65D7;
    border-color: #9D65D7;
}

#footerRedes i {
    font-size: 20px;
}
